<template>
    <div class="container content">
        <!-- Club -->
        <div class="row">
            <div class="col-12">
                <img :src="club.strTeamBadge" alt="" class="img-badge-large">
                <h3 class="text-center">
                    {{ club.strTeam }}
                </h3>
                <span class="d-block formed text-center">
                    ({{ club.intFormedYear }})
                </span>

                <!-- Social media -->
                <div class="row justify-content-center mt-4">
                    <div class="col-2 d-flex justify-content-around align-items-center">
                        <a :href="`https://${club.strWebsite}`" target="_blank">
                            <i class="fas fa-globe"></i>
                        </a>

                        <a :href="`https://${club.strFacebook}`" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a :href="`https://${club.strTwitter}`" target="_blank">
                            <i class="fab fa-twitter text-primary"></i>
                        </a>

                        <a :href="`https://${club.strInstagram}`" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <p class="description">
                    {{ club.strDescriptionEN }}
                </p>
            </div>
        </div>

        <!-- Stadium -->
        <div class="row mt-5">
            <div class="col-12">
                <h3 class="mb-4 text-center">
                    Stadium
                </h3>
                <img v-show="club.strStadiumThumb" :src="club.strStadiumThumb" alt="" class="img-full-width">
                <h4 class="text-center mt-3">
                    {{ club.strStadium }}
                </h4>

                <p class="description">
                    {{ club.strStadiumDescription }}
                </p>

                <div class="row justify-content-center mt-4">
                    <div class="col-3 text-center">
                        <div class="icons">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="d-block mt-1">Location</span>
                        </div>
                        <span class="d-block">
                            {{ club.strStadiumLocation }}
                        </span>
                    </div>
                    <div class="col-3 text-center">
                        <div class="icons">
                            <i class="fas fa-user-friends"></i>
                            <span class="d-block mt-1">Capacity</span>
                        </div>
                        <span class="d-block">
                            {{ club.intStadiumCapacity }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Club",

        props: ['idTeam'],

        created(){
          this.getClub()
        },

        data(){
            return{
                club:{}
            }
        },

        methods:{
            getClub(){
                axios.get(`${baseURL}/${apiKey}/lookupteam.php?id=${this.idTeam}`)
                .then(res => this.club = res.data.teams[0])
            }
        }
    }
</script>

<style scoped>
.formed{
    font-size:22px;
    font-weight:600
}

    i{
        font-size:20px !important;
    }

    .icons span{
        font-size: 22px;
        font-weight:500
    }

    .fa-instagram{
        color: deeppink;
    }

    .fa-facebook{
        color: mediumblue;
    }

    .fa-globe{
        color: grey
    }
</style>