<template>
    <div class="container content">
        <div class="row">
            <div class="col-12">
                <img :src="league.strBadge" alt="" class="img-badge-large">
                <h3 class="text-center">
                    {{ league.strLeague }}
                </h3>
                <p class="description">
                    {{ league.strDescriptionEN }}
                </p>
            </div>
        </div>

        <!-- Upcoming events -->
        <div class="row" v-show="matchs.length > 0">
            <div class="col-12">
                <h3 class="my-4 text-center">Upcoming Events</h3>
            </div>
            <div class="col-md-4 mb-4 matchs" v-for="match in matchs.slice(0, 6)" :key="match.idEvent">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center mb-4">
                            {{ match.dateEvent | dateParser }}
                        </h4>
                        <img :src="match.strThumb ? match.strThumb :imgNotFound " alt="" class="img-full-width">
                        <h5 class="text-center">
                            {{ match.strEvent }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- Teams Participation -->
        <div class="row" v-show="teams.length > 0">
            <div class="col-12">
                <h3 class="my-4 text-center">Participants</h3>
            </div>

            <div class="col-md-4 mb-4" v-for="team in teams" :key="team.idTeam" v-show="teams">
                <router-link :to="{ name:'detail_club', params:{ idTeam: team.idTeam } }">
                    <div class="card">
                        <div class="card-body">
                            <img :src="team.strTeamBadge" alt="" class="img-badge">
                            <h4 class="text-center">
                                {{ team.strTeam }}
                            </h4>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Detail",

        props:['idLeague'],

        created(){
            this.getLeague()
            this.getTeams()
            this.getEvents()
        },

        data(){
            return{
                league:[],
                teams:[],
                matchs:[],
                imgNotFound: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSVxcS86xUGRV_SM9Ei01hM9FSvLw4lzDzDpw&usqp=CAU'
            }
        },

        methods:{
            getLeague(){
                axios.get(`${baseURL}/${apiKey}/lookupleague.php?id=${this.idLeague}`)
                .then(res => this.league = res.data.leagues[0])
            },

            getTeams(){
                axios.get(`${baseURL}/${apiKey}/lookup_all_teams.php?id=${this.idLeague}`)
                    .then(res => this.teams = res.data.teams)
            },

            getEvents(){
                axios.get(`${baseURL}/${apiKey}/eventsnextleague.php?id=${this.idLeague}`)
                .then(res => this.matchs = res.data.events)
            }
        }
    }
</script>

<style scoped>
.img-full-width{
    height:180px;
    margin-bottom: 1.5rem;
}

    .matchs .card{
        min-height: 350px
    }
</style>