<template>
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="country" class="control-label d-block mb-3 text-center">Country</label>
                        <input type="text" class="form-control" id="country" v-model="country" @keyup="getLeagues()">
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 mb-4" v-for="league in leagues" :key="league.idLeague">
                <router-link :to="{ name: 'detail_league', params:{ idLeague: league.idLeague }}">
                    <div class="card">
                        <div class="card-body">
                            <img :src="league.strBadge" alt="" class="img-badge">
                            <h3 class="text-center">
                                {{ league.strLeague }}
                            </h3>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Leagues",

        created(){
            this.getLeagues()
        },

        data(){
            return{
                leagues: [],
                country: 'Spain'
            }
        },

        methods:{
            getLeagues(){
                axios.get(`${baseURL}/${apiKey}/search_all_league.php?c=${this.country}&s=Soccer`)
                .then(res => this.leagues = res.data.countrys)
            }
        }
    }
</script>

<style scoped>

</style>