<template>
    <div class="container content">
        <div class="row justify-content-center mb-4">
            <div class="col-4">
                <form action="">
                    <div class="form-group">
                        <label for="match" class="control-label d-block text-center mb-2">Find match</label>
                        <input type="text" class="form-control" id="match" v-model="match" @keyup="getMatch()">
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4" v-for="match in matchs" :key="match.idEvent">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-12">
                                <h4 class="text-center mb-4">
                                    {{ match.dateEvent | dateParser }}
                                </h4>
                                <img :src="match.strThumb ? match.strThumb : imgNotFound" alt="" class="img-full-width">
                            </div>

                            <div class="col-md-5 home">
                                <h5 class="text-center">
                                    {{ match.strHomeTeam }}
                                </h5>
                                <span class="score d-block">
                                    {{ match.intHomeScore }}
                                </span>
                                <span class="goals d-block">
                                    {{ match.strHomeGoalDetails }}
                                </span>
                            </div>

                            <div class="col-md-2">
                                <span class="versus">
                                    VS
                                </span>
                            </div>

                            <div class="col-md-5 away">
                                <h5>
                                    {{ match.strAwayTeam }}
                                </h5>
                                <span class="score d-block">
                                    {{ match.intAwayScore }}
                                </span>
                                <span class="goals d-block">
                                    {{ match.strAwayGoalDetails }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Matchs",

        created(){
            this.getMatch()
        },

        data(){
            return{
                matchs:[],
                match: 'Barcelona vs Real Madrid',
                imgNotFound: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSVxcS86xUGRV_SM9Ei01hM9FSvLw4lzDzDpw&usqp=CAU'
            }
        },

        methods:{
            getMatch(){
                axios.get(`${baseURL}/${apiKey}/searchevents.php?e=${this.match}`)
                .then(res => this.matchs = res.data.event)
            }
        }
    }
</script>

<style scoped>
.away, .home{
    text-align:center
}

    span.score{
        font-size: 27px;
        font-weight:bold
    }

    .img-full-width{
        height: 280px;
        margin-bottom: 2rem;
    }

    span.versus{
        font-size: 32px;
        font-weight:bold;
        text-align:center
    }

    span.goals{
        text-align:left !important
    }
</style>