<template>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name:'leagues' }">Leagues</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" href="#" :to="{ name: 'matchs' }">Match's</router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>
ul.navbar-nav{
    display:block;
    margin:0 auto;
    width:25%;
    display:flex;
    justify-content:space-around;
    align-items:center
}

    a, a:hover{
        color: #404040;
        font-size:20px;
        text-transform:uppercase;
    }

    .router-link-active{
        position:relative;
    }

    .router-link-active::after{
        content:'';
        display:block;
        padding-top: 7px;
        width: 50%;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        border-bottom: 3px solid #6BAB90
    }
</style>