<template>
  <div id="app">

    <div class="row">
      <div class="col-12">
        <h2 class="text-center mt-3 mb-5 brand">
          The`<span>Soccers</span>
        </h2>
      </div>
    </div>

    <Navbar>

    </Navbar>

    <transition name="fade" mode="out-in">
        <router-view></router-view>
    </transition>

    <footer id="footer">
      <div class="row">
        <div class="col-12">
          <span class="d-block text-center">
            Copyright &copy; RSH - 2020
          </span>
        </div>
      </div>
    </footer>

  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 2rem;
  overflow-x:hidden
}

a, a:hover{
  text-decoration:none !important;
  color: #505050 !important;
}

  #app .content{
    margin-top:3rem;
    margin-bottom: 1rem
  }

  #app .content .img-badge{
    display:block;
    margin:0 auto;
    width:80%;
    height: 220px;
    margin-bottom: 2.2rem;
  }

  #app .content .description{
    margin-top: 1.5rem;
    text-indent: 3rem;
  }

  #app .brand{
    font-family: 'Racing Sans One', cursive;
    font-size: 55px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0 ,.4)
  }

  #app .brand span{
    color: #6bab90
  }

  .img-full-width{
    display:block;
    width:100%;
    height: 480px;
  }

.img-badge-large{
  display:block;
  width:30%;
  margin:0 auto;
  height: 320px;
  margin-bottom: 2rem;
}

  .fade-enter-active, .fade-leave-active{
    transition:all .3s ease;
  }

  .fade-enter, .fade-leave-active{
    opacity:0;
  }

  footer{
    margin-bottom: 2rem;
  }

  footer span{
    font-size: 18px;
    font-weight:bold
  }

</style>
